.conteudo {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      #c4c4c4,
      #e9e9e9
    );
    justify-content: center;
  }

  .leftbox {
   background-image: url(../esqueceu\ a\ senha/reset\ password-amico.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 45%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: flex-end;
  }

  #texto_left {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  .rightbox {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #texto_login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
  }

  .container_right {
    width: 75%;
    height: 20%;
    display: flex;
    align-items: flex-end;
  }

  #logo_right {
    width: 45%;
    margin-left: -5px;
  }

 .container_right2 {
  width: 75%;
  height: 15%;
  color: #37474f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid #cacaca;
}

 .LembrarUsuario_EsqueceuSenha {
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .senha {
   margin-top: 15px;
 }

 #span_lembrarUsuario {
   color: black;
   font-size: 12px;
 }

 #span_esqueceuSenha {
   font-size: 12px;
   color: #5bb553;
   font-weight: bold;
   cursor: pointer;
 }

 #btn_entrar {
   width: 100%;
   background-color: #5bb553;
   color: white;
   border: 0;
   border-radius: 4px;
   height: 30px;
   margin-top: 15px;
   font-weight: bold;
   cursor: pointer;
 }

 .div_cadastrar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   color: black;
   font-size: 12px;
   font-weight: 500;
 }

 #a_cadastrar {
   color: #5bb553;
   margin-left: 10px;
   cursor: pointer;
   text-decoration: none;
 }

 .container_right3 {
  width: 75%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 #ou {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: grey;
  margin-top: -5px;
 }

 .container_social {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
 }

 .input_a{
     border-radius: 12px;
 }

.input_b{
    border-radius: 12px;
}

.input_c{
    border-radius: 12px;
}

.input_d{
    border-radius: 12px;
}

.input_e{
    border-radius: 12px;
}

.input_f{
    border-radius: 12px;
}