/* tela */
.conteudo {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    #c4c4c4,
    #e9e9e9
  );
  justify-content: center;
}

/* bloco de conteúdo esquerdo */
.leftbox {
  background-color: #5bb553;
  height: 550px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#logo_monocromatica {
  height: 110%;
  margin-left: 10px;
}

#texto_left {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 28px;
}

#img_cadastro {
  margin-top: 30px;
  height: 80%;
}

.leftbox .container {
  width: 100%;
  height: 10%;
}

.leftbox .container2 {
  width: 80%;
  height: 30%;
}

.leftbox .container3 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

/* bloco de conteúdo direito */
.rightbox {
  background-color: rgb(255, 255, 255);
  height: 550px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rightbox input {
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  border: 0;
  height: 25px;
  width: 230px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-left: 10px;
}

#span_validacao {
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
}

.rightbox .container2 p {
  margin: 0;
}

#texto_cadastro {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 26px;
  margin-bottom: 15px;
}

.rightbox .container {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: flex-end;
}

.rightbox .container2 {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: -10px;
}

.rightbox .bloco_esquerdo {
  width: 50%;
  height: 100%;
  color: #37474f;
}

.rightbox .bloco_esquerdo p {
  margin-top: 16px;
}

.rightbox .bloco_direito p {
  margin-top: 16px;
}

.rightbox .bloco_direito {
  width: 50%;
  height: 100%;
  color: #37474f;
  margin-left: 50px;
}

.rightbox .container3 {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.rightbox .bloco_esquerdo2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #3a3636;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bloco_esquerdo2 input {
  margin: 0;
  width: 20px;
  margin-right: 10px;
  border: 0;
}

#check1 {
  display: flex;
  align-items: center;
}

#check2 {
  display: flex;
  align-items: center;
}

.rightbox .bloco_direito2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.bloco_direito2 button {
  height: 50px;
  width: 160px;
  background-color: #5bb553;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

#termos_uso {
  color: #5bb553;
  margin-left: 5px;
  cursor: pointer;
}

.rightbox .container4 {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
}

/* Já possui uma conta? */

#possui_conta {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#login_btn {
  color: #5bb553;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin-left: 5px;
}

.divisoria {
  width: 50%;
  height: 1px;
  border-bottom: 1px rgb(197, 197, 197) solid;
}

.container5 {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#ou {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: grey;
}
