body {
    margin: 0;
  }
  
  body::-webkit-scrollbar {
    width: 12px;               /* largura de todo o espaçamento */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* cor do caminho do scroll */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;   /* cor do scroll */
    border-radius: 20px;       /* arredondar a borda */
    border: 2px solid rgb(0, 0, 0);  /* tamanho da borda */
  }
  
  /* Header */
  .header {
    background-color: rgb(255, 255, 255);
    font-family: roboto;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  
  .header img {
    height: 80px;
  }
  
  .active {
    color: rgb(17, 201, 63);
    font-weight: bold;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin-left: 10%;
  }
  
  .navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    align-items: center;
    text-decoration: none;
  }
  
  li a {
    text-decoration: none;
    color: rgb(59, 59, 59);
  }
  
  .header .navbar a:hover {
    transition: 0.7s;
    color: rgb(17, 201, 63);
    font-weight: bolder;
    font-size: +21px; 
  }
  
  /* Banner */
  
  .banner{
      height: 100%;
      background-image: linear-gradient(white,rgb(184, 178, 178)); 
  }

  .banner .container{
      width: 80%;
      height: 100%;
      margin: auto;
      margin-bottom: 30px;
      margin-top: 30px;
      border: 2px solid black;
      background-image: linear-gradient(white,rgb(126, 180, 95));
      border-radius: 5px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-bottom: 1px solid black;
  }
  
  .conteudo{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  input{
    height: 35px;
    width: 300px;
    border-radius: 10px;
    font-size: 24px;
  }

  .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  
  button{
    height: 35px;
    width: 300px;
    border-radius: 10px;
    background-color: black;
    color: white;
  }

  #frase{
    text-align: center;
    font-size: 24px;
  }

  
  /* Footer */
  
  .footer {
    background-color: #201e1e;
    font-family: roboto;
    color: white;
    font-size: 12px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer .container {
    width: 90%;
    height: 40%;
  }
  
  .footer .container .left {
    float: left;
    width: 38.1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer .container .center {
    float: left;
    width: 38.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer .container .right {
    float: left;
    width: 23.1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right .icones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .icones img {
    height: 25px;
  }