body {
  margin: 0;
  font-family: 'Segoe UI',   Tahoma,
   Geneva, Verdana, sans-serif;
}

/* Header */
.header {
  background-color: rgb(255, 255, 255);
  font-family: roboto;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.header img {
  height: 80px;
}


.header .container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin-left: 10%;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  width: 500px;
  align-items: center;
  text-decoration: none;
}
.agora {
  font-weight: bolder;
  font-size: +20px;
  color: rgb(17, 201, 63);
}

li a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.header a:hover {
  transition: 0.7s;
  color: rgb(17, 201, 63);
  font-weight: bolder;
  font-size: +20px; 
}



/* Banner */
.hero {
  background-color: rgb(202, 202, 202);
  height: 542px;
  width: 100%;
  background-image: url("../Identidade Visual/hero_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.hero .container {
  height: 60%;
  width: 35%;
  margin-left: 10%;
  margin-top: 50px;
}

.hero .container .texto_hero {
  font-size: 40px;
  font-family: roboto;
  font-weight: 500;
}

.hero .container .texto_hero_descricao {
  font-family: roboto;
  font-size: 16px;
  color: #979797;
}

.hero button {
  background-color: #5bb553;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  color: white;
  margin-top: 25px;
}


.hero button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 25px rgba(0, 255, 0, 0.705);
    cursor:pointer;
  }

/* Conteúdo */
.valores{
  height: 600px;
  display: flex;
  justify-content: center;
}

.valores img{
  width: 200px;
  height: 200px;
}

.valores .container{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 600px;
}

.card{
  display: flex;
  margin: auto;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card2{
  display: flex;
  margin: auto;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card3{
  display: flex;
  margin: auto;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.valores p{
  text-align: center;
  font-size: 20px;
  width: 350px;
}

/* Footer */

.footer {
  background-color: #201e1e;
  font-family: roboto;
  color: white;
  font-size: 12px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container {
  width: 90%;
  height: 40%;
}

.footer .container .left {
  float: left;
  width: 38.1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .container .center {
  float: left;
  width: 38.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .container .right {
  float: left;
  width: 23.1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right .icones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.icones img {
  height: 25px;
}