body {
    margin: 0;
  }

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(133, 132, 131);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(17, 201, 63);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}
  
  /* Header */
  .header {
    background-color: rgb(255, 255, 255);
    font-family: roboto;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  
  .header img {
    height: 80px;
  }
  
  .active {
    color: rgb(17, 201, 63);
    font-weight: bold;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin-left: 10%;
  }
  
  .navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    align-items: center;
    text-decoration: none;
  }
  
  li a {
    text-decoration: none;
    color: rgb(59, 59, 59);
  }
  
  .header a:hover {
    transition: 0.7s;
    color: rgb(17, 201, 63);
    font-weight: bolder;
    font-size: +21px; 
  }
  
  /* Banner */
  .hero {
    background-color: rgb(202, 202, 202);
    height: 542px;
    width: 100%;
    background-image: url("../Identidade Visual/hero_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }
  
  .hero .container {
    height: 60%;
    width: 35%;
    margin-left: 10%;
    margin-top: 50px;
  
  }
  
  .hero .container .texto_hero {
    font-size: 40px;
    font-family: roboto;
    font-weight: 500;
  }
  
  .hero .container .texto_hero_descricao {
    font-family: roboto;
    font-size: 16px;
    color: #979797;
  }
  
  .hero button {
    background-color: #5bb553;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    color: white;
    margin-top: 25px;
  }
  
  
  .hero button:hover {
      color: rgba(255, 255, 255, 1);
      box-shadow: 0 5px 25px rgba(0, 255, 0, 0.705);
      cursor:pointer;
    }
  
  /* Conteúdo */
  .banner{
    background-image: url("foto2.png");
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 850px;
    opacity: 0.9;

}

.banner .container{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 40px;
}

.banner .card{
    background-color: rgb(53, 58, 55, 0.8);
    height: 480px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    
}

.form-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 20px;
}

input{
    box-shadow: 1px 2px 1px 0px rgb(18, 18, 18);
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    padding-left: 10px;
}

h4{
    display: flex;
    height: 35px;
    width: 250px;
    margin: 5px;
    align-items: center;
}
.botoes{
    display: flex;
    height: 170px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.botao{
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: black ;
    color: white;
    font-weight: 1000;
    border-radius: 8px;
    height: 30px;
    width: 60%;
}

span {
    margin-bottom: 20px;
    font-weight: 1000;
}
  
  /* Footer */
  
  .footer {
    background-color: #201e1e;
    font-family: roboto;
    color: white;
    font-size: 12px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer .container {
    width: 90%;
    height: 40%;
  }
  
  .footer .container .left {
    float: left;
    width: 38.1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer .container .center {
    float: left;
    width: 38.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer .container .right {
    float: left;
    width: 23.1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right .icones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .icones img {
    height: 25px;
  }