.conteudo {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      #c4c4c4,
      #e9e9e9
    );
    justify-content: center;
  }

  .leftbox {
    background-image: url('../../Identidade Visual/Calculator-bro.png');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 550px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .rightbox {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .conteiner{
      width: 80%;
      height: 100%;
  }

  .titulo{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 100px;
      border-bottom: 1px solid black;
    }
    
    .titulo p{
        margin: 0;
        font-size: 28px;
  }

  .inputs{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 400px;
  }

  .inputs p{
      margin: 0;
  }

  input{
    padding-left: 10px;
  }

  button {
    background-color: #5bb553;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    color: white;
    margin-top: 25px;
    cursor: pointer;
  }

  input{
    background-color: rgb(207, 207, 207);
    border-radius: 4px;
    border: 0;
    height: 25px;
    width: 240px;
    margin: 10px;
    font-size: 14px;
  }

  #frase{
    text-align: center;
  }
  
  #frase a{
      font-weight: bolder;
    }

    #frase a:hover {
      transition: 0.5s;
      color: rgb(17, 201, 63);
      font-weight: 1000;
    }