.banner{
    display: flex;
    justify-content: center;
    height: auto;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      #c4c4c4,
      #e9e9e9
    );

}

.banner .container{
    margin: auto;
    background-color: white;
    height: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid black;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.caixas{
    height: auto;
}

.titulo p{
    font-size: 22px;
    font-weight: bolder;
}

.frase{
    margin-top: 40px;
    height: auto;
}

h3{
    padding: 5px;
    margin: 0;
}

.frase p{
    font-size: 22px;
    font-weight: bolder;
}

.cards{
    display: flex;
    height: 300px;
    padding-bottom: 60px;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 20%;
    height: 80%;
    box-shadow: 0px 0px 10px 3px black;
}

.card1:hover{
    transition: 0.10s;
    background-color: rgb(211, 235, 199);
}

.card1 p{
    margin: 5px;
}

#primeiro_card{
    cursor: pointer;
}

#texto{
    height: auto;
    margin: auto;
    width: 100%;
    padding-left: 10px;
}

#primeiro_card img{
    width: 50px;
    height: 50px;
}

#segundo_card{
    cursor: pointer;
}

#segundo_card img{
    width: 100px;
    height: 60px;
    margin: -10px;
}

#terceiro_card img{
    width: 70px;
    height: 70px;
}

#terceiro_card{
    cursor: pointer;
}
