body {
    display: flex;
    
}

.lateral {
    background-color: #5bb553;
    width: 15%;
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.lateral .container {
    width: 70%;
    height: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.foto {
    width: 80%;
    border-radius: 50%;
}

.username {
    background-color: #ffffff23;
    width: 145%;
    height: 70px;
    align-items: center;
    border-top: #3d7738;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.username h1 {
    font-size: x-large;
    margin: 2px;
}

.username h2 {
    font-size: small;
    font-weight: 100;
    margin: 0%;
}

.navbar {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: flex-start;
    text-decoration: none;
    padding: 0%;
    margin-left: 10px;
}

.lateral .navbar a:hover {
    transition: 0.7s;
    font-weight: bolder;
    font-size: +19px;
}

.active {
    font-weight: bolder;
    font-size: large;
    font-size: 15px;
}

.logout {
    background-color: #ffffff23;
    width: 145%;
    height: 40px;
    align-items: center;
    border-top: #3d7738;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    list-style: none;
}

.logout li a {
    font-size: large;
}

.sair {
    width: 35px;
    margin-left: 10px;
}

.banner {
    width: 85%;
    height: 600px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left,
            rgba(255, 0, 0, 0),
            #c4c4c4,
            #e9e9e9);
}

.idvisual {
    width: 150px;
}

.separador {
    width: 1px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.205);
}

.ola {
    background-color: #e9e9e9;
    height: 50px;
    width: 45%;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 7px;
    justify-content: space-evenly;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}

h4 {
    margin: 0cm;
    padding: 0%;
    font-weight: 500
}

li a {
    text-decoration: none;
    color: #e9e9e9;
    font-size: 15px;
    list-style-type: none;

}

.banner .container {
    width: 95%;
    margin-left: 30px;
    margin-top: 85px;
}

/* dashboards */

.container .div_dashboard {
    display: flex;
    width: 20%;
    height: 50%;
    flex-direction: column;
    border-radius: 3px;
    margin-right: 15px;
    background-color: #e9e9e9;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}

.temporeal {
    display: flex;
    width: 100%; 
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
    padding-bottom: 15px;
    justify-content: center;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.205);
}

.estado {
    background-color: rgba(255, 153, 0, 0.685);
    height: 195px;
    width: 200px;
    border-radius: 3px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}

.estado2 {
    background-color: rgba(255, 0, 0, 0.637);
    height: 195px;
    width: 200px;
    border-radius: 3px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}


.alerta {
    width: 100px;
    margin-top: 20px;
}

h1 {
    font-size: large;
}

.info_temp {
    display: none;
    font-size: small;
    height: 0%;
    justify-content: center;
    align-items: center;
    color: red;
    margin-left: 200px;
    width: 200px;
}

.info_umid {
    display: none;
    font-size: small;
    height: 0px;
    justify-content: center;
    align-items: center;
    color: red;
    margin-left: 200px;
    width: 200px;
}


.estado:hover .info_temp {
    display: block;
}

.estado2:hover .info_umid {
    display: block;
}

.embaixo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.div_compreenda {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    height: 100px;
    width: 700px;
    background-color: #e9e9e9;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    background-color: #5bb553;
    color: white;
}

.div_compreenda h1 {
    font-weight: 500;
    font-size: larger;
    margin: 0%;
    float: left;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    display: inline;
}

.div_compreenda a{
    color: white;
}