body {
  display: flex;
}

.lateral {
  background-color: #5bb553;
  width: 15%;
  height: 600px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.lateral .container {
  width: 70%;
  height: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.foto {
  width: 80%;
  border-radius: 50%;
}

.username {
  background-color: #ffffff23;
  width: 145%;
  height: 70px;
  align-items: center;
  border-top: #3d7738;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.username h1{
  font-size: x-large;
  margin: 0%;
  margin-bottom: 2px;
}

.username h2{
  font-size: small;
  font-weight: 100;
  margin: 0%;
}

.navbar {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  align-items: flex-start;
  text-decoration: none;
  padding: 0%;
  margin-left: 10px;
}

.lateral .navbar a:hover {
  transition: 0.7s;
  font-weight: bolder;
  font-size: +19px;
}

.active {
  font-weight: bolder;
  font-size: large;
  font-size: 15px;
}

.logout{
    background-color: #ffffff23;
    width: 145%;
    height: 40px;
    align-items: center;
    border-top: #3d7738;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    list-style: none;
  }

  .logout li a{
    font-size: large;
  }

  .sair {
    width: 35px;
    margin-left: 10px;
  }

.banner {
  width: 85%;
  height: 600px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to left,
      rgba(255, 0, 0, 0),
      #c4c4c4,
      #e9e9e9);
}

.idvisual{
  width: 150px;
}

.separador {
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.205);
}

.ola {
  background-color: #e9e9e9;
  height: 50px;
  width: 45%;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 7px;
  justify-content: space-evenly;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}

h4 {
  margin: 0cm;
  padding: 0%;
  font-weight: 500
}

li a{
  text-decoration: none;
  color: #e9e9e9;
  font-size: 15px;
  list-style-type: none;

}

.banner .container{
  width: 95%;
  margin-left: 30px;
  margin-top: 20px;
  height: 500px;
}

/* dashboards */

.graficos {
  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: row;
  margin-top: 30px;

}

.div_dashboard {
  
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
  margin-right: 15px;
  background-color: #e9e9e9;
}

.embaixo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.205);
  align-items: center;
}
.registros {
  height: 250px;
  border-radius: 3px;
  background-color: #5bb553;
  width: 400px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  margin-right: 15px;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}

.texto{
  font-size: larger;
}

.div_registrar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  height: 200px;
  width: 300px;
  background-color: #e9e9e9;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
  border-radius: 3px;
}

button {
  height: 30px;
  border-radius: 3px;
  width: 100px;
  background-color: #5bb553;
  color: white;
  border: 0ch;
}

input {
  height: 20px;
  background-color: #c4c4c4;
  border: 0ch;
  border-radius: 3px;
  margin: 0;
  width: 30px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
  
.div_registrar h1{
  font-weight: 500;
  font-size: larger;
  margin-bottom: 0%;
}

.ipts {
  width: 56%;
  display: flex;  
  justify-content: center;

}

.horas{
  margin-left: 10px;
}