body {
  display: flex;
  box-sizing: border-box;
  margin: 0%;
}

.lateral {
  background-color: #5bb553;
  width: 15%;
  height: 100vh;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  position: fixed;
}

.lateral .container {
  width: 70%;
  height: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.foto {
  width: 80%;
  border-radius: 50%;
}

.username {
  background-color: #ffffff23;
  width: 145%;
  height: 70px;
  align-items: center;
  border-top: #3d7738;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.username h1 {
  font-size: x-large;
  margin: 2px;
}

.username h2 {
  font-size: small;
  font-weight: 100;
  margin: 0%;
}

.navbarra {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  align-items: flex-start;
  text-decoration: none;
  padding: 0%;
  margin-left: 10px;
}

li a {
  padding: 10px;
  border-radius: 20px;
  margin-top: 0%;
}

.navbarra li a:hover {
  transition: 0.3s;
  background-color: #ffffff23;
  font-weight: bolder;
}

.ativa {
  font-weight: bolder;
  font-size: 15px;
  background-color: #ffffff23;
  padding: 10px;
  font-weight: bolder;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  margin-top: -8px;
  margin-bottom: -3px;
}

.logout {
  background-color: #ffffff23;
  width: 145%;
  height: 40px;
  align-items: center;
  border-top: #3d7738;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  list-style: none;
}

.logout a {
  font-size: large;
}

.logout a:hover {
  font-weight: bolder;
}

.sair {
  width: 35px;
  margin-left: 10px;
}

.banner {
  width: 85%;
  height: 1200px;
  margin-left: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.096),
      #c4c4c4,
      rgb(255, 255, 255));
}

.idvisual {
  width: 150px;
}

.separador {
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.205);
}

.ola {
  background-color: white;
  height: 50px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 7px;
  justify-content: space-evenly;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
}

h4 {
  margin: 0cm;
  padding: 0%;
  font-weight: 500;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  list-style-type: none;
}

.banner .container {
  width: 95%;
  margin-left: 30px;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.div_alertas {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.205);
  height: 200px;
  padding-bottom: 30px;
  margin-left: 45px;
}

.div_alertas span {
  font-size: 45px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.div_alertas .container {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 50px;
}

.icone_termometro {
  width: 100px;
}

.alerta {
  width: 90px;
  margin-top: 18px;
}

.medidas_plantacao {
  display: flex;
}

.nome_plantio {
  border-bottom: 1px solid #2e2e2e63; 
  height: 35px;
  width: 90%;
  margin-right: 90px;
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.788);
}

h3 {
  font-size: x-large;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tooltip_temp {
  position: relative;
  background-color: #17a51200;
  height: 160px;
  width: 160px;
  border-radius: 3px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
  margin-bottom: 0%;
}

#text_temp {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 30%;
  opacity: 0%;
  transition: opacity 0.5s;
  width: 150px;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tooltip_temp:hover #text_temp {
  visibility: visible;
  opacity: 1;
}

#tooltip_umid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.205);
  background-color: #17a51200;
  height: 160px;
  width: 160px;
  border-radius: 3px;
  margin-right: 15px;
}

#text_umid {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  opacity: 0%;
  transition: opacity 0.5s;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 90%;
  left: 30%;
  width: 150px;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tooltip_umid:hover #text_umid {
  visibility: visible;
  opacity: 1;
}

h1 {
  font-size: medium;
}